# openssl.cfg
#
# Config file for OpenSSL CA

[ ca ]

default_ca      = SymbianTestRootCARSA   # The default ca section

[ SymbianTestRootCARSA ]

dir            = SymbianTestRootCARSA
database       = $dir\\index.txt          # index file.
new_certs_dir  = $dir\\certs              # new certs dir

certificate    = $dir\\private\\ca.pem         # The CA cert
serial         = $dir\\serial             # serial no file
private_key    = $dir\\private\\ca.key.pem # CA private key
RANDFILE       = $dir\\private\\.rand      # random number file

default_days   = 3650                    # how long to certify for
default_crl_days= 30                     # how long before next CRL
default_md     = md5                     # md to use

policy         = ca_policy               # our policy
email_in_dn    = no                      # Don't add the email into cert DN

nameopt        = default_ca              # Subject name display option
certopt        = default_ca              # Certificate display option
copy_extensions = none                   # Don't copy extensions from request

[req]
distinguished_name = dname
prompt = no

[ ca_policy ]
organizationName       = supplied
commonName             = supplied

[ dname ]
C=UK
O=Symbian
OU=Security - Test
CN=Test


